<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>Welcome to JWT example!</h1>

            <div class="row">
                <div data-ng-hide="token" class="col-md-6">
                    <a href="#/signup" class="btn btn-default btn-primary margin-right" role="button">Signup</a>
                    or
                    <a href="#/signin" class="btn btn-default btn-primary margin-left" role="button">Sign in</a>
                </div>
                <div data-ng-show="token" class="col-md-6">
                    <a href="#/restricted" class="btn btn-default btn-primary" role="button">Restricted area</a>
                </div>
            </div>
        </div>
    </div>
</div>