<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Restricted content from the same domain
            </div>
            <div class="panel-body" data-ng-hide="data">
                <p>Fetching data...</p>
            </div>
            <div class="panel-body" data-ng-show="data">
                <p>Email: {{data.email}}</p>

                <p>Registered at: {{data.registered_at}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Restricted content from a different domain (CORS)
            </div>
            <div class="panel-body" data-ng-hide="data">
                <p>Fetching data...</p>
            </div>
            <div class="panel-body" data-ng-show="data">
                <p>{{ api }}</p>
            </div>
        </div>
    </div>
</div>